body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Helvetica Neue', 'Ubuntu', sans-serif;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  text-align: center;
}

a {
  text-decoration: underline;
  color: rgb(182, 27, 27);
}

img {
  width: 500px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: .5rem 1rem;
  color: #fff;
  background: #3f51b5;
  border: none;
  margin-top: 10px;
}